<section id="about" class="about-container">
    <div class="section-square"></div>
    <h2>About Me</h2>
    <p class="body-text">
      I am a Master's student at UCLA pursuing my Masters in
      Information Science and Library Studies, with an interest
      in web development. With a strong background in HTML and CSS,
      I am currently expanding my skills in Python. I used Python and
      Flask to build this portfolio website. I am passionate 
      about leveraging technology to create engaging digital experiences
      and am excited to explore the intersection of information science
      and web development.
    </p>
    <a class="btn" href="#">Download my Resume</a>
  </section>