<section id="projects" class="all-projects-container">
    <div class="section-square"></div>
    <h2>My Projects</h2>
    {% for project in projects %}
      <article class="project-container">
        <div class="project-img-container">
          <div class="project-img">
            <img src="{{ project.image }}" alt ="{{ project.name }}"
           </div>
          </div>
        <div class="project-text-container">
          <h3>{{ project.name }}</h3>
          <div class="project-techs">
            {% for tech in project.techs %}
            <span>{{ tech }}</span>
            {% endfor %}
          </div>
          <p class="body-text">
            {{ project.description }}
          </p>
          <div class="project-links">
            <a href="{{ project.live }}" class="btn">Live Site</a>
            <a href="{{ project.repo }}" class="btn">GitHub Repo</a>
          </div>
        </div>
      </article>
      {% endfor %}
  </section>     <section id="projects" class="all-projects-container">
    <div class="section-square"></div>
    <h2>My Projects</h2>
    <article class="project-container">
      <div class="project-img-container">
        <div class="project-img"></div>
      </div>
      <div class="project-text-container">
        <h3>A Random Quote Generator</h3>
        <div class="project-techs">
          <span>HTML</span>
          <span>CSS</span>
          <span>JavaScript</span>
        </div>
        <p class="body-text">
          This project was created for Treehouse's Full Stack JavaScript
          TechDegree. I learnt to use client-side JavaScript to store and
          generate a new quote every time the screen is loaded (or every 10
          seconds as well). I also used CSS to change the background
          gradient colors to generate cool gradients with every new quote!
        </p>
        <div class="project-links">
          <a href="#" class="btn">Live Site</a>
          <a href="#" class="btn">GitHub Repo</a>
        </div>
      </div>
    </article>
    <article class="project-container">
      <div class="project-img-container">
        <div class="project-img"></div>
      </div>
      <div class="project-text-container">
        <h3>List Pagination and Filtering</h3>
        <div class="project-techs">
          <span>HTML</span>
          <span>CSS</span>
          <span>JavaScript</span>
        </div>
        <p class="body-text">
          This project was created for Treehouse's Full Stack JavaScript
          TechDegree. I learnt to use client-side JavaScript to limit a list
          to show only 10 units at a time. This was super tricky for me to
          wrap my head around the maths! Pagination is such an important
          thing to master because it's everywhere!
        </p>
        <div class="project-links">
          <a href="#" class="btn">Live Site</a>
          <a href="#" class="btn">GitHub Repo</a>
        </div>
      </div>
    </article>
    <article class="project-container">
      <div class="project-img-container">
        <div class="project-img"></div>
      </div>
      <div class="project-text-container">
        <h3>Interactive JavaScript Form</h3>
        <div class="project-techs">
          <span>HTML</span>
          <span>CSS</span>
          <span>JavaScript</span>
        </div>
        <p class="body-text">
          I learnt to use client-side JavaScript to dynamically show or hide
          certain parts of a sign-up form depending on what else was
          selected. I also got to implement form validation using RegEx
          which was super cool! I had also struggled with forms before, but
          this project really helped!
        </p>
        <div class="project-links">
          <a href="#" class="btn">Live Site</a>
          <a href="#" class="btn">GitHub Repo</a>
        </div>
      </div>
    </article>
  </section>